
<div class="flex justify-center items-center h-screen flex-container">
  <form [formGroup]="connectionForm" class="max-w-md w-full p-6 bg-white rounded-md shadow-md flex flex-col justify-center items-center">
    <div class="mb-4">
      <label for="username" class="text-gray-600">Nom d'utilisateur :</label>
      <input class="border border-gray-300 p-2 w-full" formControlName="username" id="username" />
    </div>
    <div class="mb-4">
      <label for="password" class="text-gray-600">Mot de passe :</label>
      <input class="border border-gray-300 p-2 w-full" formControlName="password" id="password" type="password" />
    </div>
    <div>
      <button class="bg-blue-500 text-white px-4 py-2 rounded-full hover:bg-blue-600 focus:outline-none focus:shadow-outline-blue" type="submit" [disabled]="connectionForm.invalid" (click)="Connection()">
        Connexion
      </button>
    </div>
  </form>
</div>
<div class="flex justify-center mt-4 text-green-600" *ngIf="connectionStatus | async">
  <p>Connexion réussie !</p>
</div>
<div class="flex justify-center mt-8">
  <p class="text-gray-600">
    Nouveau client ?
    <a class="text-blue-600 hover:underline" routerLink="/account-creation">Inscrivez-vous gratuitement ici !</a>
  </p>
</div>
