<hr class="border-t border-blue-600 my-4" />

<div class="flex justify-around items-center bg-gray-800 p-4">
  <div>
    <p class="text-white">Contactez-nous par mail : <span class="text-yellow-300">contact&#64;dragonball.com</span></p>
  </div>
  <div class="flex items-center space-x-4">
    <a href="https://github.com/paul-toussaint" target="_blank">
      <img src="https://img.icons8.com/color/48/000000/github--v1.png" alt="GitHub" class="w-8 h-8" />
    </a>
    <a href="https://www.youtube.com/@darkpaul12" target="_blank">
      <img src="https://img.icons8.com/color/48/000000/youtube-play.png" alt="YouTube" class="w-8 h-8" />
    </a>
    <a href="https://twitter.com/darkpaulssj12" target="_blank">
      <img src="https://img.icons8.com/color/48/000000/twitter--v2.png" alt="Twitter" class="w-8 h-8" />
    </a>
    <a class="text-white">&copy; 2024 Darkpaul12 Tous droits réservés</a>
  </div>
</div>

